<h1>Inventory</h1>
<ul>
    <li>Orders
        <ul>
            <li><%= link_to 'Receive Shipment', orders_new_receive_path %></li>
            <li><%= link_to 'Record a Sale', orders_new_sale_path %></li>
            <li>Make a Shipment</li>
            <li>Confirm a Shipment</li>
        </ul>
    </li>
    <li>Reports
        <ul>
            <li>Inventory</li>
            <li>Need to Purchase</li>
            <li>Shipment Summary</li>
            <li>Popular Items</li>
        </ul>
    </li>
    <li>Data
        <ul>
            <li><%= link_to 'Inventory Items', controller: 'items' %></li>
            <li><%= link_to 'Customers', controller: 'customers' %></li>
            <li><%= link_to 'Warehouses', controller: 'warehouses' %></li>
            <li><%= link_to 'Orders', controller: 'orders' %></li>
            <li>Shipments</li>
        </ul>
    </li>
    <li>Inventory
        <ul>
            <li>Warehouse Transfer</li>
            <li>Start a Physical Inventory</li>
            <li>Show Partial Inventories</li>
            <li>Commit a Physical Inventory</li>
        </ul>
    </li>
</ul>



