<%= form_for @order do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@order.errors.count, 'error') %> prohibited this order from saving
            </h2>
            <ul>
                <% @order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.label :created_at, 'Date' %> <%= f.text_field :created_at %>
    <br>
    <%= f.label :order_number, 'Order number' %> <%= f.text_field :order_number %>
    <br>
    <%= f.label :customer_name, @order.order_form_customer_label %> <%= f.text_field :customer_name %>
    <br>
    <%= f.label :warehouse, @order.order_form_warehouse_label %>
        <%= select_tag :warehouse, options_from_collection_for_select(Warehouse.all, 'id', 'name') %>
    <br>
    <%= f.submit 'All done' %>
<% end %>

<%= form_tag add_item_to_order_path(@order), method: 'post' do %>
    <%= label_tag :barcode, 'Barcode' %>
    <%= text_field_tag(:barcode) %>
    <%= submit_tag 'Scan' %>
<% end %>

<table>
    <tr><th></th>
        <th><%= @order.order_form_item_cost_label %></th>
        <th>Count</th>
        <th>Name</th>
        <th>SKU</th>
        <th>Barcode</th>
    </tr>
    <% @order.order_items.each do |item| %>
        <tr>
            <td></td>
            <td><%= item.cost_cents %></td>
            <td><%= item.count %></td>
            <td><% if item.item.nil? %>
                    <%= link_to 'Unknown', new_item_path(barcode: item.barcode, order_id: @order.id) %>
                <% else %>
                    <%= item.name %>
                <% end %>
            </td>
            <td><%= item.sku %></td>
            <td><%= item.barcode %></td>
        </tr>
    <% end %>
</table>
