<%= form_for @order do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@order.errors.count, 'error') %> prohibited this order from saving
            </h2>
            <ul>
                <% @order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.label :Date %> <%= f.text_field :created_at %>
    <br>
    <%= f.label 'Order number' %> <%= f.text_field :order_number %>
    <br>
    <%= f.label @order.order_form_customer_label %> <%= f.text_field :customer_name %>
    <br>
    <%= f.label @order.order_form_warehouse_label %>
        <%= select_tag :warehouse, options_from_collection_for_select(Warehouse.all, 'id', 'name') %>
    <br>
    <%= f.submit 'All done' %>

    <table>
        <tr><th></th>
            <th><%= @order.order_form_item_cost_label %></th>
            <th>Count</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Barcode</th>
        </tr>
        <% @order.order_items.each do |item| %>
            <tr>
                <td></td>
                <td><%= item.cost_cents %></td>
                <td><%= item.count %></td>
                <td><%= item.name %></td>
                <td><%= item.sku %></td>
                <td><%= item.barcode %></td>
            </tr>
        <% end %>
    </table>
<% end %>
