<h1>Orders</h1>
<table>
    <tr>
        <th></th>
        <th>Order number</th>
        <th>Customer</th>
        <th>Type</th>
        <th>Unfilled items</th>
        <th>Shipped items</th>
        <th></th>
    </tr>
    <% @orders.each do |order| %>
        <tr>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to order.order_number, order_path(order) %></td>
            <td><%= order.customer_name %></td>
            <td><%= order.order_type %></td>
            <td><%= order.unfilled_items.count %></td>
            <td><%= order.shipped_items.count %></td>
            <td><%= link_to 'Delete', order_path(order),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>

