<%= form_for @item do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@item.errors.count, 'error') %> prohibited this item from saving
            </h2>
            <ul>
                <% @item.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name, 'Name' %> <%= f.text_field :name %>
        <br>
        <%= f.label :sku, 'SKU' %> <%= f.text_field :sku %>
        <br>
        <%= f.label :barcode, 'Barcode' %> <%= f.text_field :barcode %>
        <br>
        <%= f.label :cost_cents, 'Cost cents' %> <%= f.text_field :cost_cents %>
        <br>
        <%= f.label :price_cents, 'Price cents' %> <%= f.text_field :price_cents %>
        <br>
        <%= f.label :description, 'Description' %> <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
