<h1>Items</h1>
<table>
    <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Barcode</th>
        <th>Cost cents</th>
        <th>Price cents</th>
    </tr>
    <% @items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.sku %></td>
            <td><%= item.barcode %></td>
            <td><%= item.cost_cents %></td>
            <td><%= item.price_cents %></td>
        </tr>
    <% end %>
</table>

